<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angelina's Farm Resort</title>
</head>
<body>
    <h1 style="display: flex; align-items: center; align-items: center; justify-content: center; margin-top: 35vh;">SORRY</h1>
    <h2 style="display: flex; align-items: center; justify-content: center; margin-top: 10vh;">Not finish to this part.</h2>
    <h1 style="display: flex; align-items: center; align-items: center; justify-content: center; margin-top: 10vh;">Thank You!</h1>
</body>
</html>